<div class="span-16 prepend-8">
    <%= link_to image_tag("thumb_buy-inCover.jpg", :size => "75x75", :alt => "Hilcorp Energy Brochure"), "portfolio/buyIn.htm" %>
    <%= link_to image_tag("thumb_tonkawaLogo.jpg", :size => "75x75", :alt => "Tonkawa Farms Logo"), "portfolio/tonkLogo.htm" %>
    <%= link_to image_tag("thumb_liskow-2.jpg", :size => "75x75", :alt => "Liskow & Lewis Ads"), "portfolio/liskowAds.htm" %> 
    <%= link_to image_tag("thumb_topTen.jpg", :size => "75x75", :alt => "Hilcorp Energy Poster"), "portfolio/topTen.htm" %>
    <%= link_to image_tag("thumb_boscoLabel.jpg", :size => "75x75", :alt => "Bosco Bites Label"), "portfolio/boscoLabel.htm"	%>
    <%= link_to image_tag("thumb_johnSpaldCover.jpg", :size => "75x75", :alt => "Johnson Spalding Brochure"), "portfolio/johnsonSpalding.htm" 		%>
    <%= link_to image_tag("thumb_collings.jpg", :size => "75x75", :alt => "Collings Guitar Ads"), "portfolio/collings.htm" %>
    <%= link_to image_tag("thumb_cowLogo.jpg", :size => "75x75", :alt => "Becks Prime Milkshake Logo"), "portfolio/milkshakeLogo.htm" %>
    <%= link_to image_tag("thumb_coverCalendar.jpg", :size => "75x75", :alt => "Hilcorp Energy Calendar"), "portfolio/hilcorpCalendar.htm" %>
    <%= link_to image_tag("thumb_s&wBlocks.jpg", :size => "75x75", :alt => "Scott & White Building Graphic"), "portfolio/s&wBlocks.htm" %>
    <%= link_to image_tag("thumb_cccLogo.jpg", :size => "75x75", :alt => "Cindy Carlson Company Logo"), "portfolio/cccLogo.htm" %>
    <%= link_to image_tag("thumb_hlpLogo.jpg", :size => "75x75", :alt => "HLP Holdings Logo"), "portfolio/hlpLogo.htm" %>
    <%= link_to image_tag("thumb_detroitLogo.jpg", :size => "75x75", :alt => "Detroit Center Logo"), "portfolio/detroitLogo.htm" %>
    <%= link_to image_tag("thumb_barryCard.jpg", :size => "75x75", :alt => "Julie Barry Identity"), "portfolio/barryCard.htm" %>
    <%= link_to image_tag("thumb_kelseyWeb.jpg", :size => "75x75", :alt => "Virginia Kelsey Website"), "portfolio/virginiaKelsey.htm" %>
    <%= link_to image_tag("thumb_v&eLogo.jpg", :size => "75x75", :alt => "Vinson & Elkins Logo"), "portfolio/v&eLogo.htm" %>
    <%= link_to image_tag("thumb_frederickWeb.jpg", :size => "75x75", :alt => "Frederick Website"), "portfolio/frederickBook.htm"	%>
    <%= link_to image_tag("thumb_hilcorpLogo.jpg", :size => "75x75", :alt => "Hilcorp Logotype"), "portfolio/hilcorpLogo.htm" %>
    <%= link_to image_tag("thumb_75l&l.jpg", :size => "75x75", :alt => "Liskow & Lewis"), "portfolio/l&lAnniversary.htm" %>
</div>
