<header class="append-bottom">
<h1 class="first span-7 prepend-1" id="Logo"> 
  <%= link_to "LanceBrown", home_path, :id => 'Orange' %><%= link_to "Design:", home_path, :id => 'Gray' %> 
</h1>
<nav class="span-15 prepend-1 last">
<ul>
  <li>&nbsp;</li>
  <li><%= link_to 'portfolio', portfolio_path %></li>
  <li><%= link_to 'profile', profile_path %></li>
  <li><%= link_to 'contact', 'mailto:lance@lancebrowndesign.com' %></li>
</ul>
</nav>
</header>

